# Set this to be the domain of your website in production
# Example: "https://sky.shiiyu.moe"
ORIGIN="http://localhost:5173"
PUBLIC_ORIGIN=$ORIGIN

PUBLIC_DISCORD_INVITE="https://discord.gg/"
PUBLIC_PATREON="https://www.patreon.com/"
PUBLIC_COMMIT_HASH=""

ADDRESS_HEADER="CF-Connecting-IP"

# Sentry.io
PUBLIC_SENTRY_DSN=""
PUBLIC_SENTRY_HOST=""
PUBLIC_SENTRY_PROJECT_ID=""

# GO API
PUBLIC_API_URL="http://localhost:8080/api/"
PUBLIC_SERVER_API_URL="http://localhost:8080/api/" # If you're using docker, set this to the name of the backend container, e.g. http://skycrypt-backend-1:8080/api/
SERVER_API_TOKEN="" # Must match the token in the backend config